@mixin paleta($prefix, $value){
  $luminosidades : (
    "":50%,
    "-light":65%,
    "-super-light":85%,
    "-dark":35%,
    "-super-dark":15%
    );
  @each $sufix, $val in $luminosidades{
    .fill-#{$prefix}#{$sufix} {
      fill:hsl($value,100%,$val)
    }
    .bg-#{$prefix}#{$sufix} {
      background-color:hsl($value,100%,$val)
    }
    .text-#{$prefix}#{$sufix}{
      color:hsl($value,100%,$val)
    }
  }
}

$sum:30;
$sufixs:("", "-grafiti", "-light", "-super-light");
$init:0;

@each $suf in $sufixs {
    .fill-black#{$suf} {
      fill:hsl(0, 0, $init * 1%)
    }
    .bg-black#{$suf} {
      background-color:hsl(0, 0, $init * 1%)
    }
    .text-black#{$suf}{
      color:hsl(0, 0, $init * 1%)
    }
    $init: $init + $sum;
}

@include paleta("red", 340);
@include paleta("green", 140);
@include paleta("blue", 210);
